---
title: Home
layout: default
tag_content: "RTXI, the Real-Time eXperiment Interface, is a hard real-time
data acquisition and control application for biological research. At its core
is a Real-Time Operating System (RTOS), which uses a modified Linux kernel to
provide deterministic control in a variety of experimental settings. RTXI is a
fast, free, and open-source system currently used in labs all over the world to
probe diverse, technologically challenging problems, such as dynamic probing of
ion-channel function, control of cardiac arrhythmia dynamics, and control of
deep-brain stimulation patterns. "
---

{% include carousel.html %}

<div class="container mt-3">

  <div class="row">
    <div class="col-lg-9">

      <div class="row"><div class="card border-light">
        <div class="card-header border-light">
          <h2 class="h2 text-center">Introducing RTXI</h2>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col">
              <p> <b>RTXI</b>, the <b>Real-Time eXperiment Interface</b>, is a
              <b>hard real-time</b> data acquisition and control application for
              biological research. At its core is a Real-Time Operating System
              (RTOS), which uses a modified Linux kernel to provide
              <b>deterministic</b> control in a variety of experimental settings.
              RTXI is a <b>fast</b>, <b>free</b>, and <b>open-source</b> system
              currently used in labs all over the world to probe diverse,
              technologically challenging problems, such as dynamic probing of
              ion-channel function, control of cardiac arrhythmia dynamics, and
              control of deep-brain stimulation patterns.
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <h3 class="h3 text-center">Why real-time?</h3>
              <p>Experimentalists' ability to perturb biological systems has
              traditionally been limited to rigid pre-programmed protocols or
              more flexible, albeit reflex-constrained, operator-controlled
              protocols. In contrast, real-time control allows dynamic probing of
              biological systems by parameter perturbations calculated from
              instantaneous system measurements. With it, researchers can address
              diverse unanswered questions that are not amenable to traditional
              approaches.
              </p>
            </div>
            <div class="col-sm-6">
              <h3 class="h3 text-center">Why RTXI?</h3>
              <p>Unfortunately, real-time control is not possible with standard
              operating systems and software. Furthermore, commercial real-time
              systems are costly and often designed for industrial applications,
              and the proprietary software licenses and drivers that come with
              them constrain their flexibility in experimental settings. To get
              away from that, we developed RTXI. It's fast, free, and flexible,
              and it's compatible with a wide range of experimentation hardware.
              </p>
            </div>
          </div>

          <img class="img-fluid" alt="Dynamic clamp diagram"
               style="margin: 0 auto; padding-top:20px"
               src="{{ site.img }}/dclamp.png">

        </div>

        <div class="card-footer text-right border-light">
          <a href="/docs">
            <button type="button" class="btn btn-primary btn-lg">
              Read the Docs
            </button>
          </a>
          <div class="clearfix"></div>
        </div>
      </div></div>

      <div class="row mt-3"><div class="card border-light">

        <div class="card-header border-light">
          <h3 class="h3 text-center">Latest Publications</h3>
        </div>

        <div class="card-body"><div class="row">

          <!-- looks messy, but this is how to get a masony-like layout without
            javascript -->
          <div class="col-sm-12 col-md-6">
            {% for post in site.categories.papers limit:3 %}
            <div class="row"><div class="col-xs-12">
              <a href="{{ post.url }}" style="color:inherit;">
                <div class="card border-light">
                  <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <div class="hidden-xs">
                      {{ post.excerpt | truncate:500 }}
                    </div>
                  </div>
                </div>
              </a>
            </div></div>
            {% endfor %}
          </div>

          <div class="col-sm-12 col-md-6">
            {% for post in site.categories.papers offset:3 limit:3 %}
            <div class="row"><div class="col-xs-12">
              <a href="{{ post.link }}" style="color:inherit;">
                <div class="card border-light">
                  <div class="card-body">
                    <h4 class="card-title">{{ post.title }}</h4>
                    <div class="hidden-xs">
                      {{ post.excerpt | truncate:500 }}
                    </div>
                  </div>
                </div>
              </a>
            </div></div>
            {% endfor %}
          </div>

        </div></div>

        <div class="card-footer text-right border-light">
          <a href="/papers/">
            <button type="button"
                    class="btn btn-primary btn-lg">
              All Publications
            </button>
          </a>
          <div class="clearfix"></div>
        </div>

      </div></div>
    </div>

  <!--
    News - all news posts go here, and there's also an RSS feed.
  -->

    <div class="col-lg-3"><div class="row">
      <div class="d-lg-none mt-3"></div>
      <div class="card border-light">
        <div class="card-header border-light">
          <h2 class="h2 text-center">News
            <a href="/feed.xml" style="color:inherit">
              <i class="glyphicons glyphicon-rss"></i>
            </a>
          </h2>
        </div>

        <div class="card-body">
          {% for post in site.categories.news limit:5 %}
          <div class="media"><div class="media-body">
            <h4 class="media-heading">
              <a href="{{ post.url }}" style="color:inherit">{{ post.title }}
              </a>
            </h4>
            <div class="text-muted">
              &nbsp;&nbsp;{{ post.date | date_to_string }}
            </div>
            <div>{{ post.excerpt | truncate: 300 }}</div>
          </div></div>
          {% endfor %}
        </div>

        <div class="card-footer text-right border-light">
          <a href="/news/">
            <button type="button"
                    class="btn btn-primary btn-lg">
              All Publications
            </button>
          </a>
          <div class="clearfix"></div>
        </div>

      </div>
    </div></div>
  </div>

</div>
